#opener {
  background-color: #A2E3C4;
}

#rate-limit {
  background-color: #B3BFB8;
}

#inspiration {
  /*background-color: #fcf8e3;*/
}

.card-outline-warning li{
  background-color: transparent;
  border-color: #f0ad4e;
}

#password-text {
  font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  border: none;
  font-size: 3em;
  height: 1.5em;
  padding: 0;
  text-align: center;
  width: 100%;
}

.form-group {
   margin-bottom: 0; 
}

footer {
  background-color: #A2E3C4;
}

[v-cloak]
{
  display:none;
}